**/.idea
**/lib/__pycache__
**/lib/waveshare_epd/__pycache__
**/main/__pycache__
**/main/utils/__pycache__
**/main/assets/paragraph_src/paragraph_read_id.json
**/main/assets/image/splash/
**/main/assets/image/calendar.jpg
pony_pi_main_log.log